# Maintain offline copies of your packages for more repeatable and reliable builds.
# Value must be a relative file path, or false to disable the mirror (default).
# yarn-offline-mirror ./packages-cache
yarn-offline-mirror yarn-offline-mirror

# Control automatic pruning of the offline mirror
yarn-offline-mirror-pruning false